<div class="container" *ngFor="let day of getUniqueScheduleDays(false)">
    <div class="all-card">
        <div class="card-date">
            <span class="card-row"><img src="assets/Icons/calendar.svg" /><label>{{day}}</label></span>
        </div>
        <div class="card-body">
            <div class="card-col" *ngFor="let schedule of getScheduleByDay(day)">
                <span class="card-row"><img src="assets/Icons/book.svg" /> <label>{{schedule.subject}}</label></span>
                <span class="card-row">
                    <img src="assets/Icons/clock.svg" /><label>{{schedule.startTime.format("HH:MM")}} -
                        {{schedule.endTime.format("HH:MM")}}</label><img src="assets/Icons/pin.svg" /><label
                        class="rm-lmargin">{{schedule.classRoom}}</label>
                </span>
                <span class="card-row"><img src="assets/Icons/person.svg" /> <label>{{schedule.teacher}}</label></span>
            </div>
        </div>
    </div>
</div>