/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Cascadia Code';
    src: url('assets/font/CascadiaCode.woff2') format('truetype');
  }

html, body {
    font-family: 'Cascadia Code','Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
    margin: 0.5rem;
}
